<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="form-group">
  <form ng-submit="cpc.createPost()" novalidate class="simple-form">
    <label for="title">Title</label>
    <input type="text" class="form-control" placeholder="Title" ng-model="cpc.post.title" id="title" name="title">

    <text-angular ng-model="cpc.post.content"></text-angular>
    <input type="submit" value="Submit Form">
  </form>
</div>

<script src="/ui/bower_components/ngUpload/ng-upload.js"></script>

<div ng-app="uiApp">
  <div ng-controller="UploadpictureCtrl">
    <form action="/picture" ng-upload="uploadComplete(content)" method="post">
      <input type="file" name="file" />
      <input type="submit" value="Upload" ng-disabled="$isUploading" />
    </form>
  </div>
</div>
